
@import "text.css";
@import "style.css";

#help {
    text-align: center;
    color: #bebebe;
    font-family: Roboto Condensed;
    line-height: 200%;
    font-size: 80%;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

#sidebar {
    background-color: #2b2b2b;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
}